.uk-navbar {
    margin-top: 10px;
}

/* adapted from http://stackoverflow.com/questions/11182775/how-to-style-the-number-on-a-html-list */
ol {
    counter-reset:li;
    margin-left:0;
    padding-left:0;
}
ol > li {
    position:relative;
    margin:0 0 6px 2em;
    padding:4px 8px;
    list-style:none;
    border-top:2px solid #666;
    background:#f9f9f9;
    border-radius: 0px 0px 10px 10px;
}
ol > li:before {
    content:counter(li);
    counter-increment:li;
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    background:#b30000;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

.post-list li {
    margin-bottom: 1.5em;
}

.entry-title {
    font-family: "Consolas", Times, serif;
    font-size: 50px;
}
