{% extends "base.html" %}
{% block title %}{{article.title}} - {{super()}}{% endblock title %}
{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" content="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" content="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<section class="post-body">
    <header>
        <h1 class="entry-title">
        <span data-uk-tooltip="{pos:'right'}" title="Permalink to {{ article.title|striptags }}"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" >{{ article.title }}</a></span>
        </h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <div class="uk-block uk-block-muted">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 entry-content">
                    {{ article.content.replace("[[more]]", "") }}
                    <div class="post-tags">Tags: 
                        {% if article.tags %}
                        {% for tag in article.tags %}
                        <a href="{{tag.url}}">{{tag}}</a>&nbsp; 
                        {% endfor %}
                        {% else %}
                        None
                        {% endif %}
                    </div>
                    <hr class="post-footer-sep"></hr>
                    <footer class="post-info">
                        <abbr title="{{ article.date.isoformat() }}">
                            Added: {{ article.locale_date }}
                        </abbr>
                        <br>
                        {% if article.modified %}
                        <abbr title="{{ article.modified.isoformat() }}">
                            Modified: {{ article.locale_modified }}
                        </abbr>
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>
    </div><!-- /.entry-content -->
</section>
{% endblock %}
