{% extends "base.html" %}
{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" content="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" content="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
    <header>
        <h2 class="entry-title">
        <span data-uk-tooltip="{pos:'right'}" title="Permalink to {{ article.title|striptags }}"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" >{{ article.title }}</a></span>
        </h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <div class="uk-block uk-block-muted">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    {{ article.content }}
                    <footer class="post-info">
                        {% if article.authors %}
                        <address>
                            By {% for author in article.authors %}
                            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                        </address>
                        {% endif %}
                        <abbr title="{{ article.date.isoformat() }}">
                            Added: {{ article.locale_date }}
                        </abbr>
                        <br>
                        {% if article.modified %}
                        <abbr title="{{ article.modified.isoformat() }}">
                            Modified: {{ article.locale_modified }}
                        </abbr>
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>
    </div><!-- /.entry-content -->
</section>
{% endblock %}
