<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176592651-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-176592651-1');
        </script>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% for css_file in CSS_FILES %}
        <link rel="stylesheet" href="{{css_file}}">
        {% endfor %}
        <link rel="shortcut icon" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/{{FAVICON}}">
        {% endblock head %}
</head>

<body>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <nav class="uk-navbar">
                    <a class="uk-navbar-brand" href="/">
                        <div class="uk-width-1-1">{{HEADER_SITENAME}}</div>
                        <div class="uk-width-1-1 uk-navbar-brand-subtitle">Computers are Hard</div>
                    </a>
                    <ul class="uk-navbar-nav uk-hidden-small">
                        {% if DISPLAY_CATEGORIES_ON_MENU %}
                            <li class="uk-parent" data-uk-dropdown>
                                <a href="#"><i class="fa fa-code-fork"></i> Categories <i class="uk-icon-caret-down"></i></a>
                                <div class="uk-dropdown uk-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        {% for cat, null in categories %}
                                        <li{% if cat == category %} class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                        {% include 'navlinks.html' %}
                        </ul> 
                    <div class="uk-navbar-flip">
			<a href="#mobilenav" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
		    </div>
                </nav>
		<div id="mobilenav" class="uk-offcanvas">
		    <div class="uk-offcanvas-bar">
                        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                        {% if DISPLAY_CATEGORIES_ON_MENU %}
                            <li class="uk-parent
                            {% for cat, null in categories if cat == category %}
                            uk-active
                            {% endfor %}
                            ">
                                <a href="#"><i class="fa fa-code-fork"></i> Categories</a>
                                <ul class="uk-nav-sub">
                                    <li class="uk-nav-divider"></li>
                                    {% for cat, null in categories %}
                                    <li{% if cat == category %} class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                    <li class="uk-nav-divider"></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% include 'navlinks.html' %}
                        </ul> 
		    </div>
		</div>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
<footer>
        {% for js_file in JS_FILES %}
            <script src="{{js_file}}"></script>
        {% endfor %}
        <script>hljs.initHighlightingOnLoad();</script>
</footer>
</html>
