{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h1>Posts</h1>
{% endblock %}

<ol class="post-list">
{% for article in articles_page.object_list %}
    <li class="post-entry">
        <div class="uk-block uk-block-muted">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <article class="hentry">
                            <header>
                                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                                <div class="post-info" id="index">
                                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                                    <h6 class="post-category">Category: <a href="{{article.category.url}}">{{article.category}}</a></h6>
                                </div><!-- /.post-info -->
                            </header>
                            <hr class="title-divider"></hr>
                            <div class="entry-content"> {{ article.content[:article.content.find("[[more]]")] }} {% if "[[more]]" in article.content %}...<hr class="dashed"></hr><div>Check out the <a href="{{ SITEURL }}/{{ article.url }}">full post</a> for more details!</div>{% endif %}</div><!-- /.entry-content -->
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
